
body {
    padding-top: 70px;
    background-color: #fff;
}

.editableLabel:hover{
    background: rgba(0,0,0,0.2);
}

.editableLabel:focus{
    background: rgba(0,0,0,0.2);
}

.editableLabel {
    border: 0;
    background: none;
    width: 60%;
}

.editableLabel.defaultVal {
    border-bottom: 2px dotted #aaa;
}


.featureItem {
    cursor: pointer;
}

.scenarioTags {
    float: right;
    padding-right: 15px;
    padding-bottom: 5px;
}

.scenarioTag {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}
